* {
  margin: 0;
  padding: 0;
  border: 0;
  direction: ltr;
}

body {
  background-image: linear-gradient(120deg, #e2c35d, #d88771);
  color: white;
  font-family: "poppins", sans-serif;
  min-height: 100vh;
}
header {
  font-size: 20px;
}
header,
form {
  min-height: 10vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
form input,
form button {
  padding: 0.5rem;
  font-size: 20px;
  border: none;
  background: white;
}
form button {
  color: #d88771;
  background: white;
  cursor: pointer;
  transition: all 0.3s ease;
}
form button:hover {
  background: #0b6923;
  color: white;
  opacity: 0.9;
}
.todo-container {
  display: flex;
  justify-content: center;
  align-items: center;
}
.todo-list {
  min-width: 30%;
  list-style: none;
}
.todo {
  background-color: #fff;
  margin: 0.5rem;
  min-width: 30vw;
  min-height: 1.5rem;
  color: black;
  font-size: 1rem;
  display: flex;
  justify-content: space-between;
  align-content: center;
  transition: all 1s ease;
}

.todo li {
  flex: 1;
}
.trash-btn,
.complete-btn {
  background: #e65f20;
  color: rgb(255, 255, 255);
  padding: 0.5rem;
  border: none;
  cursor: pointer;
  
}
.complete-btn {
  background-color: #0b6923;
}
.fa-trash, .fa-check {
    pointer-events: none;
}
.completed {
    text-decoration:  line-through;
    opacity: 0.5;
} 
